/** @format */

footer {
  background-color: #1a1a1a;
  border-bottom: 2px solid white;
}
.footer {
  display: flex;
  flex-direction: row ;
  background: transparent;
  padding: 20px;

}

.right_,
.form,
.left {
  flex: 100% 1;
}
.right_ {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}


.right_ h1 {
  color: #fff;
  font-size: 40px;
}
.right_ p {
  color: #ffffff9c;
}
.span_ {
  color: #fff;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
