/** @format */

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 4em auto;
  background: #fff;
  padding: 4em;
}

.wrapper > :first-child {
  margin-top: 0;
}
.wrapper > :last-child {
  margin-bottom: 0;
}

.product-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.product-grid.product-grid--flexbox .product-grid__wrapper {
  flex-wrap: wrap;
  display: grid;
  min-width: 300px;
  grid-template-columns: repeat(3, 330px);
  gap: 20px;
}
.product-grid.product-grid--flexbox .product-grid__title {
  height: auto;
}
.product-grid.product-grid--flexbox .product-grid__title:after {
  display: none;
}
.product-grid__wrapper {
  margin-left: -1rem;
  margin-right: -1rem;
}
.product-grid__product-wrapper {
  padding: 1rem;
  width: 100%;
  height: 100%;
  animation: tada 3s;
}
.product-grid__product {
  padding: 1rem;
  position: relative;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
}
.act {
  color: #d82730 !important;
}
.product-grid__product:hover {
  box-shadow: 0px 0px 0px 1px #eee;
  z-index: 50;
}
.product-grid__product:hover .product-grid__extend {
  display: block;
}
.product-grid__img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 190px;
}
.product-grid__img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.product-grid__title {
  margin-top: 0.875rem;
  display: block;
  font-size: 1.125em;
  color: #222;
  height: 3em;
  overflow: hidden;
  position: relative;
}
.product-grid__title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.4em;
  height: 1.5em;
}

.product-grid__extend-wrapper {
  position: relative;
}
.product-grid__extend {
  display: none;
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  margin: 0.4375rem -1rem 0;
  box-shadow: 0px 0px 0px 1px #eee;
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.product-grid__extend:before {
  content: "";
  height: 0.875rem;
  width: 100%;
  position: absolute;
  top: -0.4375rem;
  left: 0;
  background: #fff;
}

.footer {
  margin: 0 auto;
  z-index: 1;
}

@media only screen and (max-width: 1050px) {
  .product-grid.product-grid--flexbox .product-grid__wrapper {
    grid-template-columns: repeat(2, 400px);
  }
}
@media only screen and (max-width: 685px) {
  .product-grid.product-grid--flexbox .product-grid__wrapper {
    grid-template-columns: repeat(1, 360px);
  }
  .product-grid__title {
    text-align: center;
  }
}
