@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


#langswitcher {
  display: flex;
}

#lingumania_langswitcher{
  display: none;
}

.wrrr {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_ {
  position: absolute;
  right: 0;
  top: 0;
  width: 65%;
  height: 100%;
}
video {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.act {
  color: #d82730 !important;
}
.prop {
  background-color: rgb(165,152, 152, 93%);
  width: 45%;
  min-height: 50%;
  border-radius: 20px;
  line-height: 1.5;
  position: absolute;
  left: 15%;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px black;
  animation: bounceInLeft 1s;
}
.prop .text_pro {
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
.prop .text_pro h1 {
  font-size: clamp(2vw, 4vw, 2rem);
  color: #fff;
  letter-spacing: 1.3px;
  margin-bottom: 0 !important;
  text-transform: uppercase;
  text-shadow: 0 0 1px black;
}
.prop .text_pro h1 span {
  color: rgb(255, 0, 0);
}
.prop .text_pro p {
  text-align: start;
  margin-top: 5px;
  font-size: clamp(1.2vw, 2vw, 1.2vw);
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.911);
  text-shadow: 0 0 2px rgb(0 0 0 / 50%);
}


@media only screen and (max-width: 991px) {
  #langswitcher {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .home_{
    position: unset;
  }
  .prop{
    width: 70%;
    left: 10%;
    top: 8%;
    background-color: rgb(165,152, 152, 93%);
  }
  .prop .text_pro p {
    font-size: clamp(1.4rem, 1rem, 1rem);
  }
}
@media only screen and (max-width: 700px) {
  .prop .text_pro p {
    font-size: clamp(1.2vw, 2vw, 2vw);
  }
}

@media only screen and (max-width: 592px) {
  .prop {
    top: 10% !important;
    left: 28%;
  }
  .prop .text_pro p {
    font-size: clamp(2.2vw, 2vw, 2vw);
  }
}
@media only screen and (max-width: 400px) {

  .prop .text_pro p {
    font-size: clamp(1.1rem, 1vw, 1vw);
  }
  .madeby{
    flex-wrap: wrap;
  }

}
