#langswitcher {
  display: flex;
}

#lingumania_langswitcher {
  display: none;
}

@media only screen and (max-width: 991px) {
  #langswitcher {
    flex-direction: column;
  }
}

.wrrr {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homes {
  position: absolute;
  right: 0;
  top: 0;
  width: 65%;
  height: 100%;
}

.prop {
  background-color: rgb(165, 152, 152, 93%);
  width: 50%;
  min-height: 45%;
  border-radius: 20px;
  position: absolute;
  left: 10%;
  padding: 15px;
  box-shadow: 0 0 1px black;
  animation: bounceInLeft 1s;
}

.act {
  color: #d82730 !important;
}

video {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_pro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prop .text_pro h1::first-letter {
  color: #d82730;
}

.prop .text_pro h1 {
  font-size: clamp(2rem, 4vw, 2rem);
  color: #fff;
  letter-spacing: 1.3px;
  margin-bottom: 0 !important;
  text-transform: uppercase;
  text-shadow: 0 0 1px black;
}

.prop .text_pro p {
  text-align: center;
  font-size: clamp(1.2rem, 2rem, 1.2rem);
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.911);
  text-shadow: 0 0 2px rgb(0 0 0 / 50%);
}

@media only screen and (max-width: 900px) {
  .homes {
    position: unset;
  }

  .prop {
    width: 70%;
    left: 10%;
    top: 8%;
    background-color: rgb(165, 152, 152, 93%);
  }

  .prop .text_pro p {
    font-size: clamp(1.4rem, 1rem, 1rem);
  }
}

@media only screen and (max-width: 700px) {
  .prop .text_pro p {
    font-size: clamp(1.2rem, 2rem, 2rem);
  }
}

@media only screen and (max-width: 592px) {
  .prop {
    top: 10% !important;
    left: 28%;
  }

  .prop .text_pro p {
    font-size: clamp(2.2rem, 2rem, 2rem);
  }
}

@media only screen and (max-width: 400px) {

  .prop .text_pro p {
    font-size: clamp(1.1rem, 1vw, 1vw);
  }
}